html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png');
    /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


/*
 * Styles for the deck of cards
 */

.deck {
    width: 600px;
    min-height: 600px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
    animation-name: flip;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    animation-duration: .75s;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    animation-name: verticalalMove;
    backface-visibility: visible;
    animation-timing-function: ease;
    animation-duration: .75s;
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.unmatch {
    animation-name: horizonalMove;
    backface-visibility: visible;
    animation-timing-function: ease;
    animation-duration: .6s;
    background: #e2043b;
    cursor: default;
    font-size: 33px;
}

.deck .card.no-click {
    pointer-events: none;
}

@keyframes horizonalMove {
    0% {
        transform: translateX(-15%);
    }
    50% {
        transform: translateX(15%);
    }
    65% {
        transform: translateX(-4%);
    }
    80% {
        transform: translateX(4%);
    }
    95% {
        transform: translateX(-2%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes verticalalMove {
    0% {
        transform: translateY(-15%);
    }
    50% {
        transform: translateY(15%);
    }
    65% {
        transform: translateY(-4%);
    }
    80% {
        transform: translateY(4%);
    }
    95% {
        transform: translateY(-2%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes flip {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 70deg);
        animation-timing-function: ease-in;
    }
    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }
    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }
    to {
        transform: perspective(400px);
    }
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.stars {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.stars li {
    list-style: none;
    display: inline-block;
    color: #FFD700;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .timer {
    display: inline-block;
    margin-left: 20%;
}

.score-panel .moves {
    margin-left: 3%;
    margin-right: 1%;
}

.congMessage {
    animation-name: verticalalMove;
    backface-visibility: visible;
    animation-timing-function: ease;
    animation-duration: .75s;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 38%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    width: 450px;
    height: 250px;
    background: #ffffff url('../img/geometry2.png');
    color: #4B0082;
    font-family: 'Courgette', cursive;
    text-align: center;
}

.play-btn {
    width: 82px;
    height: 30px;
    position: absolute;
    top: 80%;
    left: 60%;
    size: 10em;
    color: white;
    background-color: #CD5C5C;
    border-radius: 7px;
}

.thanks-btn {
    width: 82px;
    height: 30px;
    position: absolute;
    top: 80%;
    left: 20%;
    size: 10em;
    color: white;
    background-color: #CD5C5C;
    border-radius: 7px;
}

.game-info {
    font-size: 1.3em;
}